@charset "UTF-8";

body {
	background: linear-gradient(45deg, #e7e5f1, #8737DAFF) no-repeat;
}

.product-image {
	width: 210px;
	height: 210px;
	border-radius: 20px;
}

.product-title {
	text-align: center;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

.product-description {
	text-align: center;
	font-size: 16px;
}

.product-price {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

.product-container {
	display: grid;
	gap: 30px;
	margin-bottom: 30px;
	justify-content: center;
}

.product-card {
	margin-top: 30px;
	border: 1px solid transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 20px;
	background-color: #f8f8f8;
	color: #333;
	width: 250px;
	transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.1);
}

.adminButton {
	padding: 10px 20px;
	background-color: #8080ff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.adminButton:hover {
	background-color: #8000ff;
}

#firstRow {
	margin-top: 15px;
  	display: flex;
  	justify-content: flex-end;
  	margin-right: 10px;
}

@media (min-width: 650px) {
	.product-container {
		grid-template-columns: repeat(2, auto);
		margin-left: 0px;
	}
}

@media (min-width: 900px) {
	.product-container {
		grid-template-columns: repeat(3, auto);
		margin-left: 0px;
	}
}

@media (min-width: 1200px) {
	.product-container {
		grid-template-columns: repeat(5, auto);
		margin-left: 0px;
	}
}