@charset "UTF-8";
.footer-divider {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer-div {
	background-color: transparent;
    text-align: center;
    width: 100%;
    position: sticky;
}

.pfooter {
	font-size: 12px !important;
	color: #333;
}

.h4footer {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	margin-top: 15px;

}

.prefooter {
	font-size: 13px;
	color: #333;
}
