@charset "UTF-8";

 .footer-div {
	background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    position: sticky;
    line-height: 1 !important;
}

.pfooter {
	font-size: 12px !important;
	color: #333;
}

.h4footer {
	font-size: 15px;
	font-weight: bold;
	color: #333;

}

.prefooter {
	font-size: 13px;
	color: #333;
}
