@charset "UTF-8";

.navbar-logo #logo {
    width: 100px; 
    height: auto;
    margin-left: -25px;
}

.btn-outline-success {
	color: #000000 !important;
	background-color: transparent !important;
	border-color: #8080ff!important;
}

.navbar-nav .nav-link {
	color: #000000!important;
}

.navbar-nav .nav-link:hover {
	color: #ffff8080 !important;
}

.btn-outline-success:hover {
	color: #000000 !important;
	background-color: rgba(50, 50, 50, 0.1) !important;
	border-color: #8080ff!important;
}

.navbar-profile #profile {
	width: 65px; 
    height: auto;
    opacity: 0.3;
    margin-left: -10px;
}

.form-control {
	width: 30% !important;;
}

#profile-link {
	position: relative;
}

#dropdown-menu {
	position: absolute;
  	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  	text-align: center;
  	min-width: 10px;
  	background-color: #f8f9fa !important;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.dropdown-divider {
  height: 0;
  margin: 0 !important;
  overflow: hidden;
  border-top: 1px solid var(--bs-dropdown-divider-bg);
  opacity: 1;
}

.dropdown-item {
	color: black !important;
	background-color: #f8f9fa !important;
	border-radius: 5px !important;
  	padding: 10px 20px !important;
}

.dropdown-item:hover {
	background-color: rgba(50, 50, 50, 0.1) !important;
}

.dropdown-menu {
	padding: 0 !important;
}

@media (min-width: 992px) {
	#dropdown-menu {
	top: 90%;
    right: 4px;
	}
	
	.navbar-profile #profile {
    	margin-left:0;
	}
	
	.form-control {
		width: 100% !important;
		}
}