@charset "UTF-8";
body{
	background-color: #8e2de2;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
}
/* Navbar Branding */
.navbar-brand #logo {
	width: 100px;
	height: auto;
}

/* Navbar Background Color */
.navbar {
	background-color: #6A0DAD !important; /* Colore viola */
}

/* Navbar Text Color */
.navbar-nav .nav-link {
	color: #ffffff !important; /* Colore del testo bianco per contrastare con il viola */
}

.navbar-nav .nav-link:hover {
	color: #ffff80 !important; /* Colore del testo al passaggio del mouse */
}

/* Button Styling */
.btn-outline-success {
	color: #ffffff !important;
	background-color: transparent !important;
	border-color: #6A0DAD !important; /* Colore viola per il bordo */
}

.btn-outline-success:hover {
	color: #000000 !important; /* Colore del testo al passaggio del mouse */
	background-color: #ffff80 !important; /* Colore di sfondo al passaggio del mouse */
	border-color: #6A0DAD !important; /* Colore viola per il bordo */
}
